[Unit]
Description=Flic button
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/projects/fliclib-linux-hci/
ExecStart=/home/pi/projects/fliclib-linux-hci/start.sh
Restart=no
User=pi

[Install]
WantedBy=multi-user.target